img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }
.container{
     color: white;
}
h1{
    font: bold;
    text-align: center;
    font-style: oblique;
    color: blanchedalmond
}
h2{
    font: bold;
    color: aqua;

}
h3{
  font: caption;
  color: purple
}