body{
    background-color: black;
}
.img{
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 0;
}
.head{
    text-align: center;
    position: relative;
    top: 300px; left: 10px; 
    font-size: 2cm;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 1;
}
.intro{
    position: relative;
    top: 300px;
    left: 300px;
    font-size: 1cm;
    font-family: Courier;
    font-weight: bolder;
    z-index: 1;
}
.contain{
    position: relative;
    top: 450px;
    color:white;
}
h2{
    color: #00ff00;
    font-weight: 600;
    font-family: Verdana;
}
.me{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float: right;
    bottom: 200px
}
.round{
    display: inline;
    margin: 0 auto;
}
figcaption{
    font-size: 40px;
}
.vid{
    float: left;
}