img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }
div{
     color: white;
}
h1{
    font: bold;
    text-align: center;
    font-style: oblique;
}
h2{
    font: bolder;
}